<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<div class="container">

    <form>
        <div class="form-control">
            <label>카테고리</label>
            <select th:name="choice">
                <option value="100">100</option>
                <option value="5000">5,000</option>
                <option value="10000">10,000</option>
                <option value="20000">20,000</option>
                <option value="50000">50,000</option>
                <option value="100000">100,000</option>
            </select>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <button formaction="/pay" formmethod="post"
                        type="submit">카카오페이 결제</button>
            </div>
            <div class="col">
                <button formaction="/pay2" formmethod="post"
                        type="submit">이니시스 결제</button>
            </div>
            <div class="col">
                <button th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>