<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="map" style="width:100%; height: 100vh;"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyBhUFndEreLcTxeyhkqfqJTJikkH7USvcA
&callback=initMap">

</script>
<script  th:inline="javascript">
    function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: { lat: -34.397, lng: 150.644 },
  });
  const geocoder = new google.maps.Geocoder();
  var address = [];
  address = /*[[ ${address} ]]*/
  console.log(address);
  for (var i = 0; i < address.length; i++) {
  console.log(address[i]);
    geocoder
    .geocode({ address: address[i] })
    . then(({ results }) =>{
        map.setCenter(results[0].geometry.location);
        new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
        });
    })
    .catch((e) =>
        alert("Geocode was not successful for the following reason: " + e)
    );
  }
}

</script>
</body>
</html>