<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="main-head"> <!-- th:fragment로 fragment의 이름을 지정함, fragment는 다른 HTML에서 replace 혹은 include로 사용 가능 -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <th:block layout:fragment="title"></th:block> <!-- th block은 layout:fragment 속성에 이름을 지정해서 실제 Content 페이지의 내용을 채우는 기능, 해당 기능은 동적(Dynamic)인 처리가 필요할 때 사용 -->

    <link rel="stylesheet" th:href="@{/css/style.css}" /> <!-- th:href는 웹 애플리케이션을 구분하는 콘텍스트 경로(Context Path)를 포함합니다. -->
    <link rel="stylesheet" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" />

    <th:block layout:fragment="add-css"></th:block>
</head>
</html>