<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="springboot.shuttle.mapper.BoardMapper"> <!-- namespace는 xml mapper의 sql쿼리문과 mapper 인터페이스의 메서드를 매핑시키는 역-->

    <sql id="boardColumns">
        bno
        , title
        , content
        , writer
        , view_cnt
        , notice_yn
        , secret_yn
        , delete_yn
        , insert_time
        , update_time
        , delete_time
    </sql>


    <insert id="insertBoard" parameterType="Board">
        INSERT INTO board (
                <include refid="boardColumns" />
        ) VALUES (
              #{bno}
            , #{title}
            , #{content}
            , #{writer}
            , 0
            , IFNULL(#{notice_Yn}, 'N')
            , IFNULL(#{secret_Yn}, 'N')
            , 'N'
            , NOW()
            , NULL
            , NULL
        )
    </insert>

    <select id="detailBoard" parameterType="long" resultType="Board">
        SELECT
                <include refid="boardColumns" />
        FROM
                board
        WHERE
                delete_yn = 'N'
        AND
                bno = #{bno}
    </select>

    <update id="updateBoard" parameterType="Board">
        UPDATE
                board
        SET
                update_time = NOW(),
                title = #{title},
                content = #{content},
                writer = #{writer},
                notice_yn = IFNULL(#{notice_Yn}, 'N'),
                secret_yn = IFNULL(#{secret_Yn}, 'N')
        WHERE
                bno = #{bno}
    </update>

    <update id="deleteBoard" parameterType="long">
        UPDATE board
        SET
                delete_yn = 'Y',
                delete_time = NOW()
        WHERE
                bno = #{bno}
    </update>

    <select id="listBoard" parameterType="Board" resultType="Board">
        SELECT
                <include refid="boardColumns" />
        FROM
                board
        WHERE
                delete_yn = 'N'
        ORDER BY
                notice_yn ASC,
                bno DESC,
                insert_time DESC
    </select>

    <select id="countBoard" parameterType="Board" resultType="int">
        SELECT
                COUNT(*)
        FROM
                board
        WHERE
                delete_yn = 'N'
    </select>
</mapper>