<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="springboot.shuttle.mapper.ChatRoomMapper"> <!-- namespace는 xml mapper의 sql쿼리문과 mapper 인터페이스의 메서드를 매핑시키는 역-->

    <insert id="insertChatRoom" parameterType="ChatRoomDTO">
        insert into chatRoom (roomId, name, seller, buyer) values(#{roomId}, #{name}, #{seller}, #{buyer})
    </insert>

    <select id="chatRoomList" resultType="ChatRoomDTO" parameterType="String">
        select * from chatRoom where seller=#{username} or buyer=#{username}
    </select>

    <select id="findByChatRoom" parameterType="String" resultType="ChatRoomDTO">
        select * from chatRoom where roomId=#{roomId}
    </select>

</mapper>